---
layout: ""
page_title: "Provider: ServiceNow"
description: |-
  The ServiceNow provider provides resources and data sources to interact with the ServiceNow API.
---

# ServiceNow Provider

The ServiceNow provider provides resources and data sources to interact with the ServiceNow API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
